{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block content %}
    {% if user.notes %}
        <h2>Your Notes</h2>
        {% for note in user.notes %}
            <li>{{ note.data }}</li>
        {% endfor %}
        <hr>
    {% endif %}
    <h2>Note Form</h2>
    <p>
        Create a new note by entering text in the field below and clicking <q>Save</q>.
    </p>
    <form method="post">
        {{ form.hidden_tag() }}
        <fieldset>
            {{ form.data.label }}
            {{ form.data }}
        </fieldset>
        {{ form.submit }}
    </form>
{% endblock %}